/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
    display: none;
}

div#wall div#tag-3.slick.wicked {
    display: none;
}

#wall .parent #tag-4 {
    display: none;
}

div#wall div.parent #tag-5.slick {
    display: none;
}

div#wall div:nth-last-child(2) div:last-child div#tag-6 {
    display: none!important;
}

div#wall div:last-child div:first-child div#tag-7.slick {
    display: none;
}
